# Testing xgboost Model

In [17]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
import pickle
from sklearn.metrics import classification_report, accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [3]:
# load test data
test = pd.read_csv('test_file.csv')

In [4]:
test.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,9395,15615753,Upchurch,597,Germany,Female,35,8,131101.04,1,1,1,192852.67,0
1,899,15654700,Fallaci,523,France,Female,40,2,102967.41,1,1,0,128702.10,1
2,2399,15633877,Morrison,706,Spain,Female,42,8,95386.82,1,1,1,75732.25,0
3,5907,15745623,Worsnop,788,France,Male,32,4,112079.58,1,0,0,89368.59,0
4,2344,15765902,Gibson,706,Germany,Male,38,5,163034.82,2,1,1,135662.17,0

In [5]:
# seperating features and labels from dataset
x_test = test.iloc[:,3:13].values
# Exited
y_test = test.iloc[:,13].values

In [6]:
x_test.shape,y_test.shape

((2000, 10), (2000,))

In [7]:
def categorical_encode(x):
    # Encoding categorical data country
    labelencoder_x_country = LabelEncoder()
    x[:,1] = labelencoder_x_country.fit_transform(x[:,1])
    # Encode categorical data gender
    labelencoder_x_gender = LabelEncoder()
    x[:,2]  =  labelencoder_x_gender.fit_transform(x[:,2])
    ohe_country = OneHotEncoder(categorical_features=[1])
    x = ohe_country.fit_transform(x).toarray()
    x = x[:, 1:]
    return x

In [8]:
x_test = categorical_encode(x_test)

In [9]:
x_test.shape

(2000, 11)

In [10]:
# load xgboost model
file_obj = open('model.pkl','rb')
classifier = pickle.load(file_obj)
file_obj.close()

In [11]:
# make prediction on test data
prediction = classifier.predict(x_test)

In [12]:
prediction

array([0, 0, 0, ..., 0, 0, 0])

In [16]:
# accuracy on test data
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       0.88      0.96      0.92      1595
           1       0.76      0.50      0.60       405

    accuracy                           0.87      2000
   macro avg       0.82      0.73      0.76      2000
weighted avg       0.86      0.87      0.86      2000

In [19]:
print('Accuracy on test data :',accuracy_score(y_test,prediction)*100)

Accuracy on test data : 86.65